<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971432344887-58att0phjre68em7mjqnguhumgrs1o0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971432344887-58att0phjre68em7mjqnguhumgrs1o0q</string>
	<key>API_KEY</key>
	<string>AIzaSyDyh25yi1qOFGrbII9czp8wygeiYawo8_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>971432344887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterproject</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-sara-pokedex</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-sara-pokedex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971432344887:ios:60368b899a099c0197aeb2</string>
</dict>
</plist>